/build/
/build-*/
/out/
/.vs/
/.vscode/
*.user
*.pdb
*.obj
*.exe
*.dll
!third_party/wintun/wintun.dll
*.lib
*.log
third_party/wintun/*.zip
third_party/wintun/extracted/
/build/
/out/
/.vs/
/.vscode/
/CMakeUserPresets.json
*.user
*.pdb
*.obj
*.exe
*.dll
*.lib
*.log
*.key
*.pem
*.p12
